.container,
.container-fluid {
	display: block;
	width: 100%;
	margin: 1rem auto;
	text-align: left;
	background-color: #CCC;
}

.container {
	max-width: 1200px;
}

.item {
	display: block;
	text-align: center;
	background-color: #222;
}

/* note:
	Los anchos se calculan por regla de 3
	Mi retícula es de 12 columnas
	Mi base de 960px

	12col -----> 960px;
	n-col -----> ???px
	
	( n-col * 960px ) / 12col = resultado en px

	( 6col * 960px ) / 12col = 480px
	( 1col * 960px ) / 12col = 80px

	Mi reticula es de 12 columnas
	Mi base de 100%

	important: Lo mismo se hace para calcular % en éste caso el 100% de los 1200px dados arriba en la class .container
	( n-col * 100% ) / 12col = resultado en %
*/

.c12 {
	width: 100%;
}

.c11 {
	width: 91.66666666666667%;
}

.c10 {
	width: 83.33333333333333%;
}

.c9 {
	width: 75%;
}

.c8 {
	width: 66.66666666666667%;
}

.c7 {
	width: 58.33333333333333%;
}

.c6 {
	width: 50%;
}

.c5 {
	width: 41.66666666666667%;
}

.c4 {
	width: 33.33333333333333%;
}

.c3 {
	width: 25%;
}

.c2 {
	width: 16.66666666666667%;
}

.c1 {
	width: 8.333333333333333%;
}