/* Técnica 1 float left/right; */

.floatl {
	float: left;
}

.floatr {
	float: right;
}

.clear,
.clear::after,
.clear::before {
	clear: both;
}

.clear::after,
.clear::before {
	content: " ";
	display: block;
}

/* Técnica 2 display:inline-block; */

.i-b {
	display: inline-block;
}

.v-baseline {
	vertical-align: baseline;
}

.v-bottom {
	vertical-align: bottom;
}

.v-middle {
	vertical-align: middle;
}

.v-top {
	vertical-align: top;
}

.f0 {
	font-size: 0;
}

/* Técnica 3 display:table; */

.table {
	display: table;
}

.table-cell {
	display: table-cell;
}

/* Técnica 4 display:flex; */

.flex {
	display: flex;
}

.flex-item {
	flex: none;
}